<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增rmq配置')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-rmqConfigInfo-add">
			<div class="form-group">
				<label class="col-sm-4 control-label"><span style="color: red; ">*</span>主题：</label>
				<div class="col-sm-8">
					<div class="col-sm-8">
						<input name="topic" autocomplete="off" placeholder="请输入主题" class="form-control" type="text" maxlength="30" required>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label"><span style="color: red; ">*</span>消费组：</label>
				<div class="col-sm-8">
					<div class="col-sm-8">
						<input name="cgroup" autocomplete="off" placeholder="请输入消费组" class="form-control" type="text" maxlength="30" required>
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">域：</label>
					<div class="col-sm-8">
						<div class="input-group" style="width: 70%">
							<select name="field" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}">
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">集群：</label>
					<div class="col-sm-8">
						<div class="input-group" style="width: 100%">
							<select name="clustor" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}">
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>消费方war包：</label>
				<div class="col-sm-8">
					<input id="consumerWarName" name="consumerWarName" class="form-control" type="text" maxlength="30" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>生产方war包：</label>
				<div class="col-sm-8">
					<input id="produerWarName" name="produerWarName" class="form-control" type="text" maxlength="30" required>
				</div>
			</div>
			<!--<div class="form-group">
				<label class="col-sm-3 control-label">主题持有者工号：</label>
				<div class="col-sm-8">
					<input id="topicHoldEmpCode" name="topicHoldEmpCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">主题持有者名字：</label>
				<div class="col-sm-8">
					<input id="topicHoldEmpName" name="topicHoldEmpName" class="form-control" type="text">
				</div>
			</div>-->
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>生产方运维工号：</label>
				<div class="col-sm-8">
					<input id="produerDevopsEmpCode" name="produerDevopsEmpCode" class="form-control" type="text" maxlength="30" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">生产方运维名字：</label>
				<div class="col-sm-8">
					<input id="produerDevopsEmpName" name="produerDevopsEmpName" class="form-control" type="text" maxlength="30" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>消费方运维工号：</label>
				<div class="col-sm-8">
					<input id="consumerDevopsEmpCode" name="consumerDevopsEmpCode" class="form-control" type="text" maxlength="30" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">消费方运维名字：</label>
				<div class="col-sm-8">
					<input id="consumerDevopsEmpName" name="consumerDevopsEmpName" class="form-control" type="text" maxlength="30" required>
				</div>
			</div>
			<!--<div class="form-group">
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改时间：</label>
				<div class="col-sm-8">
					<input id="modifyTime" name="modifyTime" class="form-control" type="text">
				</div>
			</div>-->
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/rmqConfigInfo"
		$("#form-rmqConfigInfo-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-rmqConfigInfo-add').serialize());
	        }
	    }
	</script>
</body>
</html>
