<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改rmq配置')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-rmqConfigInfo-edit" th:object="${rmqConfigInfo}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">主题：</label>
				<div class="col-sm-8">
					<input id="topic" name="topic" th:field="*{topic}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">namesrv：</label>
				<div class="col-sm-8">
					<input id="namesrv" name="namesrv" th:field="*{namesrv}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">消费组：</label>
				<div class="col-sm-8">
					<input id="cgroup" name="cgroup" th:field="*{cgroup}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">tag：</label>
				<div class="col-sm-8">
					<input id="tag" name="tag" th:field="*{tag}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">域：</label>
				<div class="col-sm-8">
					<input id="field" name="field" th:field="*{field}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">集群：</label>
				<div class="col-sm-8">
					<input id="clustor" name="clustor" th:field="*{clustor}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">消费方war包：</label>
				<div class="col-sm-8">
					<input id="consumerWarName" name="consumerWarName" th:field="*{consumerWarName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">生产方war包：</label>
				<div class="col-sm-8">
					<input id="produerWarName" name="produerWarName" th:field="*{produerWarName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">主题持有者工号：</label>
				<div class="col-sm-8">
					<input id="topicHoldEmpCode" name="topicHoldEmpCode" th:field="*{topicHoldEmpCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">主题持有者名字：</label>
				<div class="col-sm-8">
					<input id="topicHoldEmpName" name="topicHoldEmpName" th:field="*{topicHoldEmpName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">生产方运维工号：</label>
				<div class="col-sm-8">
					<input id="produerDevopsEmpCode" name="produerDevopsEmpCode" th:field="*{produerDevopsEmpCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">生产方运维名字：</label>
				<div class="col-sm-8">
					<input id="produerDevopsEmpName" name="produerDevopsEmpName" th:field="*{produerDevopsEmpName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">消费方运维工号：</label>
				<div class="col-sm-8">
					<input id="consumerDevopsEmpCode" name="consumerDevopsEmpCode" th:field="*{consumerDevopsEmpCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">消费方运维名字：</label>
				<div class="col-sm-8">
					<input id="consumerDevopsEmpName" name="consumerDevopsEmpName" th:field="*{consumerDevopsEmpName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改时间：</label>
				<div class="col-sm-8">
					<input id="modifyTime" name="modifyTime" th:field="*{modifyTime}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/rmqConfigInfo";
		$("#form-rmqConfigInfo-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-rmqConfigInfo-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
