<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('rmq配置列表')" />
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								主题：<input type="text" name="topic"/>
							</li>

							<li>
								消费组：<input type="text" name="cgroup"/>
							</li>

							<li>
								域：<select name="field" th:with="type=${@dict.getType('sys_rmq_field')}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
							</li>

							<li>
								集群：<select name="clustor" th:with="type=${@dict.getType('sys_rmq_clustor')}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
							</li>
							<li>
								主题持有者工号：<input type="text" name="topicHoldEmpCode"/>
							</li>
							<li>
								消费组持有者工号：<input type="text" name="consumerHoldEmpCode"/>
							</li>
							<!--
									<li>
										消费方war包：<input type="text" name="consumerWarName"/>
									</li>

									<li>
										生产方war包：<input type="text" name="produerWarName"/>

									<li>
										主题持有者名字：<input type="text" name="topicHoldEmpName"/>
									</li>

									<li>
										生产方运维工号：<input type="text" name="produerDevopsEmpCode"/>
									</li>
									<li>
										生产方运维名字：<input type="text" name="produerDevopsEmpName"/>
									</li>
									<li>
										消费方运维工号：<input type="text" name="consumerDevopsEmpCode"/>
									</li>
									<li>
										消费方运维名字：<input type="text" name="consumerDevopsEmpName"/>
							</li>-->

							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[createTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[modifyTime]"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:rmqConfigInfo:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:rmqConfigInfo:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:rmqConfigInfo:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:rmqConfigInfo:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:rmqConfigInfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:rmqConfigInfo:remove')}]];
        var prefix = ctx + "system/rmqConfigInfo";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "rmq配置",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '主键',
					visible: false
				},
				{
					field : 'topic', 
					title : '主题',
					sortable: true
				},
				{
					field : 'namesrv', 
					title : 'namesrv',
					sortable: true
				},
				{
					field : 'cgroup', 
					title : '消费组',
					sortable: true
				},
				{
					field : 'tag', 
					title : 'tag',
					sortable: true
				},
				{
					field : 'field', 
					title : '域',
					sortable: true
				},
				{
					field : 'clustor', 
					title : '集群',
					sortable: true
				},
				{
					field : 'consumerWarName', 
					title : '消费方war包',
					sortable: true
				},
				{
					field : 'produerWarName', 
					title : '生产方war包',
					sortable: true
				},
				{
					field : 'topicHoldEmpCode', 
					title : '主题持有者工号',
					sortable: true
				},
				{
					field : 'topicHoldEmpName', 
					title : '主题持有者名字',
					sortable: true
				},
				{
					field : 'consumerHoldEmpCode',
					title : '消费组持有者工号',
					sortable: true
				},
				{
					field : 'consumerHoldEmpName',
					title : '消费组持有者名字',
					sortable: true
				},
				{
					field : 'produerDevopsEmpCode', 
					title : '生产方运维工号',
					sortable: true
				},
				{
					field : 'produerDevopsEmpName', 
					title : '生产方运维名字',
					sortable: true
				},
				{
					field : 'consumerDevopsEmpCode', 
					title : '消费方运维工号',
					sortable: true
				},
				{
					field : 'consumerDevopsEmpName', 
					title : '消费方运维名字',
					sortable: true
				},
				{
					field : 'createTime', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'modifyTime', 
					title : '修改时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>